#cabecera {

    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: url("https://design2seo.com/assets/blog/svg-clipping/video_waves3.mp4");
    background-position: center center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
    margin: 0!important;
    padding: 0!important;
}  

#header-tittle, h3{
    color: white!important;
}
  #wrapper {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    transform: rotate(343deg);
  } 
video {
    width: 100%;
    height: auto;
}

.clipped-video {
    -webkit-clip-path: url(#text-overlay);
    clip-path: url(#text-overlay);
  }
  #cabecera svg {
    display: block;
    position: absolute;
    top: 0;
  }
  text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13vw;
  }

  /*--COMIENZO PÁGINA ABOUT--*/

  .about-section{
    height: 100vh;
  }

  .about-section button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    background-color: white;
  }

/*--COMIENZO SECTION CONTAINER--*/

.container-fluid {
  width: 100%;
  height: 37em;
  border-bottom-style:solid;
  border-bottom: solid rgb(255, 242, 59);
  border-bottom-width: 1em ;
}

/*--FINAL SECTION CONTAINER--*/

  /*--FINAl PÁGINA ABOUT--*/

  /*Animejs*/


.animation-wrapper {
  width: 80%;
  padding-bottom: 40%;
}

.stagger-visualizer {
  position: absolute;
  width: 1100px;
  height: 550px;
  transform-origin: left top;
}

.stagger-visualizer .dots-wrapper {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stagger-visualizer .dot {
  position: relative;
  z-index: 1;
  width: 23px;
  height: 23px;
  margin: 16px;
  background-color: currentColor;
  border-radius: 50%;
}

@media (min-width: 740px) {
  .stagger-visualizer .dot {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 8%, #D3CDC6 100%);
  }
  #product-text {
    padding: 2em;

}
}

model-viewer {
  width: 100%;
  height: 100vh;
}

.stagger-visualizer .cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  margin: 9px;
  background-color: currentColor;
  border-radius: 50%;
}
#product-text {
  padding: 6em;
  color: #fff;
}

 #miCanvas {
  width: 100%;
}
#miCanvas {
  height: 100vh;  /* Ocupa el 100% de la altura de la ventana */
  display: block;  /* Asegura que el contenedor sea un elemento de bloque */
  margin: 0;  /* Elimina los márgenes predeterminados del contenedor */
  overflow: hidden;  /* Evita que el contenido sobresalga del contenedor */
}

model-viewer {
  width: 100%; /* Ancho del 100% del contenedor padre */
  height: 100vh; /* Altura fija, ajusta según sea necesario */
}